.backgroung{
	-fx-background-color: #2fa0e7;
}
.anotherBackground{
	-fx-background-color: #dadada;
}
Button{
	-fx-background-color: #ffffff;
	-fx-border-color: #ffd7a2;
	-fx-background-radius: 25px;
	-fx-border-radius: 25px;
}
.textfield{
	-fx-background-color: transparent ;
	-fx-border-style: solid ;
	-fx-border-radius: 25px;
}
